{{ define "header" }}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Semantic ui -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
    <!-- 作成したjsファイル -->
    <!-- <script type="text/javascript" src="GetShout.js"></script> -->
    <!-- ここにセマンティックUIのCDN -->
</head>
{{end}}

{{ define "global-navigator" }}
<!-- ナビゲーションバーのHTMLをここに書く -->
<header>
    <p>ここにナビゲーションバー</p>
    <a href="/">トップページ</a>
    <a href="/shout">叫ぶ</a>
    <a href="/register">新規登録</a>
    <a href="/login">ログイン</a>
</header>
{{end}}

{{ define "footer" }}
<footer>
    <p class="text-muted">ここにフッターを書く</p>
</footer>
{{end}}
