{{ define "header" }}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .title }}</title>
    <!-- semantic ui -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Semantic ui -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2/components/dropdown.min.js"></script>
    <!-- 作成したjsファイル -->
    <!-- <script type="text/javascript" src="GetShout.js"></script> -->
    <!-- ここにセマンティックUIのCDN -->
    <style>
    .center {
      text-align: center;
    }
    </style>
</head>
{{end}}

{{ define "global-navigator" }}
<!-- ナビゲーションバーのHTMLをここに書く -->
<style media="screen">
    header{
        margin-bottom: 25px;
    }
</style>
<header>
    <nav id="nav" class="ui secondary pointing menu top-munu">
        <a href="/" class="item top-item p-top appname">hogehoge app</a>
        <a href="/shout" class="item top-item p-shout">叫ぶ</a>
        <a href="/post" class="item top-item p-post">新規投稿</a>
        <div class="right menu top-item">
            <a class="ui item" v-on:click="logoutClick()">Logout</a>
            <a href="/register" class="item top-item">新規登録</a>
            <a href="/login" class="item top-item">ログイン</a>
        </div>
    </nav>
</header>

<div class="ui modal">
  <i class="close icon"></i>
    <div class="ui header center">本当にログアウトしますか？</div>
  <div class="actions">
    <div class="ui black deny button">
      いいえ
    </div>
    <a  class="ui positive button" href="/logout">はい</a>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        (function(){
            $(".top-munu").append(
                "<div class='right menu down'>"+
                    "<div class='ui dropdown down item'>Menu"+
                        "<i class='dropdown icon'></i>"+
                        "<div class='menu'>"+
                            "<a href='/' class='item'>トップページ</a>"+
                            "<a href='/shout' class='item'>叫ぶ</a>"+
                            "<a href='/login' class='item'>ログイン</a>"+
                            "<a href='/post' class='item'>新規投稿</a>"+
                            "<a class='item'>Logout</a>"+
                            "<a class='item'>新規登録</a>"+
                        "</div>"+
                    "</div>"+
                "</div>"
            );
            $(".top-munu .down").hide();
            $('.ui.dropdown')
                .dropdown();
        })();


        function getUrl(){
            return location.href.split('/').pop();
        }

        function changeActive(topItem){
            $(".top-item").removeClass("active");
            topItem.addClass("active");
            $(".top-munu .active").css("border-color", "#1B1C1D");
        }

        function wait(){
            window.setTimeout(switchActive, 1);
        }

        function switchActive () {
            switch (getUrl()){
            case "":
            console.log(getUrl());
            changeActive($("a.p-top"));
            break;
            case "shout":
            changeActive($("a.p-shout"));
            break;
            case "register":
            changeActive($("a.p-register"));
            break;
            case "login":
            changeActive($("a.p-login"));
            break;
            case "post":
            changeActive($("a.p-post"));
            break;
            case "logout":
            changeActive($("a.p-logout"));
            break;
            default:
            changeActive($("a.p-shout"));
            break;
        }
        };
        wait();


        $("a.top-item").on("click", function(){
            aaa($(this));
            console.log($("a.p-top"));
            console.log($(this));
        });

        var switchNavUi = function(){
            var w = window.innerWidth;
            if(w > 690){
                $(".top-munu .down").hide();
                $(".top-munu .top-item").show();
            } else {
                $(".top-munu .top-item").hide();
                $(".top-munu .appname").show();
                $(".top-munu .down").show();
            }
        };
        setInterval(switchNavUi, 10);

        new Vue({
          el: '#nav',
          methods: {
            logoutClick: function () {
              $('.ui.modal').modal('show');
            },
            logout: function () {
              location.href = "./logout";
            }
          }
        })
    })

</script>
{{end}}

{{ define "footer" }}
<footer>
</footer>
{{end}}
