{{ define "header" }}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .title }}</title>
    <!-- semantic ui -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Semantic ui -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2/components/dropdown.min.js"></script>
    <!-- 作成したjsファイル -->
    <!-- <script type="text/javascript" src="GetShout.js"></script> -->
    <!-- ここにセマンティックUIのCDN -->
</head>
{{end}}

{{ define "global-navigator" }}
<!-- ナビゲーションバーのHTMLをここに書く -->
<header>
    <nav class="ui secondary pointing menu top-munu">
        <p class="item active">hogehoge app</p>
        <a href="/" class="active item top-item">トップページ</a>
        <a href="/shout" class="item top-item">叫ぶ</a>
        <a href="/post" class="item top-item">新規投稿</a>
        <div class="right menu top-item">
            <a href="/register" class="item top-item">新規登録</a>
            <a href="/login" class="item top-item">ログイン</a>
            <a href="/logout" class="item top-item">Logout</a>
        </div>
    </nav>
</header>
<script type="text/javascript">
    $(document).ready(function(){

        (function(){
            $(".top-munu").append(
                "<div class='right menu down'>"+
                    "<div class='ui dropdown down item'>Categories"+
                        "<i class='dropdown icon'></i>"+
                        "<div class='menu'>"+
                            "<a href='/' class='item'>トップページ</a>"+
                            "<a href='/shout' class='item'>叫ぶ</a>"+
                            "<a href='/register' class='item'>新規登録</a>"+
                            "<a href='/login' class='item'>ログイン</a>"+
                            "<a href='/post' class='item'>新規投稿</a>"+
                            "<a class='item'>Logout</a>"+
                            "<a class='item'>login/新規登録</a>"+
                        "</div>"+
                    "</div>"+
                "</div>"
            );
            $(".top-munu .down").hide();
            $('.ui.dropdown')
                .dropdown();
        })();

        var switchNavUi = function(){
            var w = window.innerWidth;
            if(w > 690){
                $(".top-munu .down").hide();
                $(".top-munu .top-item").show();
            } else {
                $(".top-munu .top-item").hide();
                $(".top-munu .down").show();
            }
        };
        setInterval(switchNavUi, 10);
    })
</script>
{{end}}

{{ define "footer" }}
<footer>
    <p class="text-muted">ここにフッターを書く</p>
</footer>
{{end}}
